In [1]:
import sklearn
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.decomposition import PCA
data0 = pd.read_excel("CW_Data.xlsx")
display(data0)

     Index  Gender  Programme  Grade  Total  MCQ  Q1  Q2  Q3    Q4  Q5
0        1       1          3      3   45.0   21   8   4   2  10.0   0
1        2       2          3      3   43.0   21   4   2   8   8.0   0
2        3       1          4      2   26.0   24   0   0   2   0.0   0
3        4       2          1      3   30.0   24   4   0   0   0.0   2
4        5       1          2      3   27.0   21   0   2   4   0.0   0
..     ...     ...        ...    ...    ...  ...  ..  ..  ..   ...  ..
614    615       2          1      2   55.0   33   6   4   4   8.0   0
615    616       2          4      2   41.0   27   6   4   4   0.0   0
616    617       2          1      2   73.0   36   8   8  11  10.0   0
617    618       2          1      2   77.0   42   8   8   6  10.0   3
618    619       2          1      2   22.0   12   4   0   4   2.0   0

[619 rows x 11 columns]

In [6]:
data1 = data0.drop(columns=['Index'])
data2 = data1.drop(columns=['Programme'])

In [7]:
#标准化数据
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data2)
#tsne
from sklearn.manifold import TSNE
tsne = TSNE(n_components = 2)
data = tsne.fit_transform(scaled_data)